body{
    background-color: aqua;
    height: 100%;
    align-content: center;
    text-align: center;
}

#header-text{
    font-size: xx-large;
    text-shadow: 3px 3px pink;
    padding: 1px;
}
#subheader-text{
    font-size: x-large;
}
.container{
    background-color: rgb(217, 233, 202);

    border-radius: 25px;
}
.crrtscore{
    text-align: left;
}